apiVersion: v1
kind: Route
metadata:
  labels:
    app: proxy
  name: proxy
spec:
  host: <your-hostname>
  port:
    targetPort: 8443-tcp
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: passthrough
  to:
    kind: Service
    name: proxy
    weight: 100
  wildcardPolicy: None
