apiVersion: v1
kind: ConfigMap  
data:
  mongodb-path: "mongodb://user:password@mongodb:27017/mongo"
  mongodb-admin-password: "super-secret"
  mongodb-database: "mongo"
  mongodb-user: "mongo"
  mongodb-password: "mongopass"
metadata:
  labels:
    application: lrs
    component: mongodb
  name: mongodb-config
